@import "compass/css3";
@import "compass/css3/transform";
@import "compass/css3/transition";



$PRODUCTION: true;

/*============= FONTS ==================*/

$MUSEO_SLAB: "MuseoSlab";
$LOBSTER: "Lobster";
$CHUNK_FIVE: "ChunkFive";

/*============= COLORS ==================*/

$SITE_ORANGE: #f6b42c;
$NAV_TEXT_COLOLR: #000000;
$NAV_TEXT_COLOLR_CURRENT: #ffffff;
$FOOTER_YELLOW: #f2e1ac;
$SITE_BODY_TEXT: #50616c;
$NAV_TEXT_COLOR_HOVER:  $SITE_ORANGE;
$NAV_TEXT_BG_COLOR_CURRENT:  $SITE_ORANGE;

/*============= LAYOUT ==================*/

$SITE_WIDTH: 980px;

.container {
  width:$SITE_WIDTH;
  padding: 0;
  font-family:$MUSEO_SLAB;
  /*font-size: 16px;*/

}

/*============= DEFAULTS ================*/

html, body {
  overflow-x: hidden;
}
h2 {
  text-align: center;
}

a[ng-click] {
  cursor: pointer;
}

/*============= MIXINS ==================*/

@mixin push-left {
  margin-right: -30px;
}

@mixin push-right {
  margin-left:-10px;
  margin-right:20px;
}

@mixin text-link {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@mixin top-site {
   background-color: #ebede4;
   @if $PRODUCTION {@include background-noise(0.5,0.1,200,true);}

}

/*============= HELPERS ==================*/
.push-right {
  margin-right: -30px;
}

.push-left {
  margin-left: -15px;
}

.black {
  color:#000000;
  &:hover {
    color:#000000;
  }
}

.orange {
  color: $SITE_ORANGE;
  &:hover {
    color:$SITE_ORANGE;
  }
}

.app-main {
  min-height: 700px;
}
.center-box {
  padding: 25px;
  text-align: center;
}
.text-link {
  @include text-link;
}

.menu-link {
  @include transition( color .2s ease-out );
}

.page-title {
  font: 99px $CHUNK_FIVE;
  color:$SITE_ORANGE;
  text-align: center;
}


p.page-text {
  text-align: justify;
  font: 16px $MUSEO_SLAB;
  color:$SITE_BODY_TEXT;
}
p.page-text.first:first-letter {
  font-size: 5em;
  font-weight: bold;
  float: left;
}

p.page-text-small {
  font-size: 14px;
}

div.title-black {
  text-align: center;
  font: 41px $CHUNK_FIVE;
}

button.form-submit {
  color:#ea5e55;
  font: bold 14px $MUSEO_SLAB;
  border-top: thin solid #ea5e55;
  border-bottom: thin solid #ea5e55;
  width: 140px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border-left:none;
  border-right: none;
  outline: none;
  @include transition(all 0.15s ease-out);

  &:hover {
    color: $SITE_ORANGE;
    border-color: $SITE_ORANGE;
  }

  &[disabled] {
    color:#cccccc;
    border-top: thin solid #cccccc;
    border-bottom: thin solid #cccccc;
    cursor: default;
  }
}











