@import "compass/css3";
@import "recipes/background";
@import "defaults";



div.our-clients {
  padding: 35px;
}

div.client-testimon {
  padding-bottom: 20px;
  img {
    vertical-align: middle;
  }
}

