<div class="topsite">
    <div class="container">
        <h2 class="page-title">ABOUT US</h2>
        <div class="center-box" style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>
    </div>
</div>

<div class="container" style="width: 473px; margin-top: 50px; margin-bottom: 50px">

    <p class="page-text">
        <img alt="ETYPE" src="images/capital_e.png" style="float: left" />Type develops and implements solutions for digital recordings and the production of protocols, with audio, video & text synchronization.
    </p>
    <p class="page-text">
        These innovative solutions are unique to eType and allow for better transparency and use of textual protocols.
        eType specializes in developing advanced technologies for recording, transcription,
        translation and documentation and is based on many years of experience in providing these services to the highest quality.<br/>
        All services provided by eType are based on the technological tools developed in house, and sold around the world.
        The constant improvement of these tools and services allows us to give our costumers the best possible service,
        turnaround times, in competetive pricing.
    </p>
</div>

<div class="container">
    <div class="col-xs-3" style="margin-left: 120px">
        <img src="images/about_round_photo1.png" />
    </div>
    <div class="col-xs-3">
        <img src="images/about_round_photo2.png" />
    </div>
    <div class="col-xs-3">
        <img src="images/about_round_photo3.png" />
    </div>
</div>
<div class="container">
    <div class="our-clients title-black">
        <img src="images/about_ornament1.png"/>
        <span class="orange">our</span> <span class="black">clients</span>
        <img src="images/about_ornament1.png"/>
    </div>
    <div>
        <div class="col-xs-6">

            <p class="page-text">
                <img alt="ETYPE" src="images/capital_e.png" style="float: left" /> Type is a subsidiary of Omnitech Ltd, the company aims to provide technological products and services
                to create the ultimate transctiption tools for the Israeli and the international market.
            </p>
            <p class="page-text">
                Towards this end eType has produced a series of innovative software tools for synchronized transcription,
                translation and ‘transcription workflow management’. eType is the leading transcription services provider in Israel:
                from the Knesset (the Israeli parliament), through courts, arbitration tribunals, security agencies, media production,
                private investigators, managements, boards of directors, international conferences, television and more.
            </p>
            <div>
                <img src="images/about_client_logos.png" />
            </div>
        </div>
        <div class="col-xs-6" style="padding-top: 10px">
            <div class="client-testimon page-text">
                <img src="images/about_guaranteed_badge.png" /> John Doe | <img src="images/about_client_logo_sample.png" />
                <p class="page-text page-text-small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla molestie facilisis bibendum. Donec commodo justo non magna fermentum vehicula.
                </p>
                <img src="images/about_quote_icon.png" class="pull-right"/>
            </div>
            <div class="client-testimon page-text">
                <img src="images/about_guaranteed_badge.png" /> John Doe | <img src="images/about_client_logo_sample.png" />
                <p class="page-text page-text-small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla molestie facilisis bibendum. Donec commodo justo non magna fermentum vehicula.
                </p>
                <img src="images/about_quote_icon.png" class="pull-right"/>
            </div>
            <div class="client-testimon page-text">
                <img src="images/about_guaranteed_badge.png" /> John Doe | <img src="images/about_client_logo_sample.png" />
                <p class="page-text page-text-small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla molestie facilisis bibendum. Donec commodo justo non magna fermentum vehicula.
                </p>
                <img src="images/about_quote_icon.png" class="pull-right"/>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="center-box">
        <img src="images/about_ornament2.png" />
    </div>
    <div class="center-box">
        <img src="images/about_bottom_banner.jpg" />
    </div>
    <div class="center-box">
        <img src="images/about_ornament2-10.png" />
    </div>
</div>




