<div class="topsite">
    <div class="container">
        <h2 class="page-title">CONTACT US</h2>
        <div class="center-box" style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>
    </div>
</div>
<div class="container" style="width: 470px; margin-top: 50px;">

    <p class="page-text">
        <img src="images/initial_e.png" alt="ETYPE" style="float:left;margin:0"/>
        Type develops and implements solutions for digital recordings and the production of protocols, with audio, video & text synchronization.
    </p>
</div>
<div class="container contact-form">
    <form name="contactForm">
        <div class="contactus-input-con">
            <input ng-model="contactDetails.Name" required ng-minlength="2" class="contactus-input" placeholder="Your Name" />
        </div>
        <div class="contactus-input-con">
            <input ng-model="contactDetails.Phone" required  ng-minlength="6" class="contactus-input" placeholder="Phone" />
        </div>
        <div class="contactus-input-con">
            <input ng-model="contactDetails.Organiztion" required  ng-minlength="2" class="contactus-input" placeholder="Organization" />
        </div>
        <div class="contactus-input-con">
            <input ng-model="contactDetails.Email" required ng-minlength="2" class="contactus-input" placeholder="E-Mail" />
        </div>
        <div class="contactus-input-con">
            <textarea ng-model="contactDetails.Message" class="contactus-input-textarea" placeholder="Your Message here"></textarea>
        </div>

        <button id="contactFormSubmitBtn" type="submit" class="form-submit"
                ng-disabled="contactForm.$invalid || contactForm.$pristine || sendInProgress"
                ng-click="onFormSubmit(contactDetails, contactForm)">{{sendButtonText || 'SEND'}}</button>
    </form>

    <div style="height: 500px;"></div>



</div>
<div style="width: 100%; height:470px;  position: absolute; margin-top: -460px;">
    <!--<iframe style="width: 100%; height: 470px"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=HaOfan+5,+Petah+Tikva,+Israel&amp;aq=&amp;sll=32.097406,34.85203&amp;sspn=0.011161,0.024397&amp;ie=UTF8&amp;hq=&amp;hnear=HaOfan+5,+Petha+Tiqwa,+Israel&amp;t=m&amp;ll=32.13899,34.846573&amp;spn=0.319783,0.324783&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>
-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6760.00850871628!2d34.85279865219882!3d32.096170692553656!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d49fabd97b43d%3A0xfac3c01c234a143e!2sHaOfan+St+5!5e0!3m2!1sen!2sus!4v1403443611772"
            style="width: 100%; height: 470px; border:0;"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>