<div ng-controller="HomeCtrl">
<div class="topsite">
<div class="slogan container">
    <!--
    <span class="w1">when</span>
    <span class="w2">words</span> <span class="w3">and</span><span class="w4">TECHNOLOGY </span>
    <span class="w5">MEET...</span>
    <div class="ornament"><img src="images/hp_title_ornament1.png"/></div>
    <br/><br/>
    <span class="w6">ETYPE</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="w7">BRINGS</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="w8">the</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="w7">REVOLUTION</span><br/>
    <span class="w9">OF SYNCHRONIZED PROTOCOL</span>
    -->
</div>
</div>

<div class="container hp-box1">
    <div class="col-xs-4">
        <p>
            Now you can take any video or audio file and synchronize it automatically with the transcription file.
            Into a search system that lets you click on a word and jump to the exact point in the recorded materials!
            And vie versa!
        </p>
        <div class="how-it-works"></div>
    </div>
    <div class="col-xs-8">
        <iframe width="621" height="318" src="//www.youtube.com/embed/Wue_t-Adi9k" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="container hp-box2">

<div class="saw saw-top"></div>
    <div>
       <solution-badge solution="{name:'eParliament',
       class: 'hp_icon0',
       class1: 'hp-icon-0',
       class2: 'hp_icon0_stamp',
       desc:'A comprehensive solution for parliamentary management processes'}"></solution-badge>

       <solution-badge solution="{name:'eProduction',
       class: 'hp_icon1',
       class1: 'hp-icon-1',
       class2: 'hp_icon1_stamp',
       desc:'An innovative and efficient solution for the process of editing'}"></solution-badge>

       <solution-badge solution="{name:'eCorporate',
       class: 'hp_icon2',
       class1: 'hp-icon-2',
       class2: 'hp_icon2_stamp',
       desc:'Brings your business record keeping to the 21st century'}"></solution-badge>

       <solution-badge solution="{name:'eLaw',
       class: 'hp_icon3',
       class1: 'hp-icon-3',
       class2: 'hp_icon3_stamp',
       desc:'Advanced comprehensive digital solution for Law, investigative and regulatory organizations'}"></solution-badge>

       <solution-badge solution="{name:'eSchool',
       class: 'hp_icon4',
       class1: 'hp-icon-4',
       class2: 'hp_icon4_stamp',
       desc:'All the martial from class in audio, video in text everywhere, anytime'}"></solution-badge>
    </div>
    <div class="saw saw-bottom"></div>
</div>
<div class="container hp-box3">

    <div class="col-xs-8 hp-clients-logos"></div>
    <div class="col-xs-4">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed pellentesque, purus ac tincidunt malesuada, lorem justo vulputate diam,
            id laoreet ipsum urna eu ligula. Curabitur imperdiet libero mi, non faucibus lectus lobortis a.
            Maecenas ut turpis porttitor, tincidunt odio sagittis, tempor justo. Aliquam porttitor augue neque,
            sed rhoncus elit lacinia at.
        </p>
    </div>
</div>
</div>