<div class="topsite">
    <div class="container">
        <h2 class="page-title">SERVICES</h2>
        <div class="center-box" style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>
    </div>
</div>
<div class="container">

    <div class="col-xs-5" style="margin-left:30px">
        <div class="service-title title-black">
            translation
        </div>
        <div class="round-photo">
            <img src="images/services_round_photo1.png"/>
        </div>

        <p class="page-text">
            <img alt="ETYPE" src="images/capital_f.png"  style="float: left" />
            <!--Type develops and implements solutions for digital recordings and the production of protocols, with audio.-->
            inally, a true multi-lingual online translation service.
            Join us and benefit from eType's vast experience, fast turnaround and convenient rates for all languages.
        </p>
        <!--<p class="page-text">
            These innovative solutions are unique to eType and allow for better transparency and use of textual protocols.
            eType specializes in developing advanced technologies for recording, transcription,
            translation and documentation and is based on many years of experience in providing these services to the highest quality.

        </p>-->
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-5" style="margin-left:100px;">
        <div class="service-title title-black">
            transcription
        </div>
        <div class="round-photo">
            <img src="images/services_round_photo2.png"/>
        </div>

        <p class="page-text">
            <img alt="ETYPE" src="images/capital_e.png" style="float: left" />
            <!--Type develops and implements solutions for digital recordings and the production of protocols, with audio.-->
            Type offers also offers transcription services for all major languages, such as Hebrew, Arabic, Russian, English etc.
            <br/>In addition to all Western and Eastern European languages, we support Amharic and Tigrit.
        </p>
        <!--<p class="page-text">
            These innovative solutions are unique to eType and allow for better transparency and use of textual protocols.
            eType specializes in developing advanced technologies for recording, transcription,
            translation and documentation and is based on many years of experience in providing these services to the highest quality.

        </p>-->
    </div>
</div>
<div class="container" style="margin-bottom: 200px;">

    <div class="title-black upload-a-file">
        <img src="images/about_ornament1.png"/>
        upload a file
        <img src="images/about_ornament1.png"/><br/>
        <span class="recieve-offer">AND YOU'LL RECIEVE AN OFFER IN 24 HOURS</span>

        <form name="contactForm">
        <div class="upload-a-file-fake" >
            <div class="placeholder">{{fileUploadResponseData.message}}</div>
            <input type="file" name="file" ng-file-select="onFileSelect($files)"   />
        </div>
        <div class="styled-select dropdown" style="margin-left: 20px">
            <lang-select
                    languages-collection="inputLanguages"
                    initial-text="Choose your language"
                    link-form-model="contactDetails.inputLanguage"></lang-select>
        </div>
        <div class="styled-select dropdown">
            <lang-select
                    languages-collection="outputLanguages"
                    initial-text="Destination language"
                    link-form-model="contactDetails.outputLanguage"></lang-select>
        </div>
        <div style="width: 665px; height: 120px; margin: 0 auto;">

            <div class="col-xs-6"><input ng-model="contactDetails.Name" required ng-minlength="2" class="services-form-input" placeholder="Your Name" /></div>
            <div class="col-xs-6"><input ng-model="contactDetails.Organiztion" required  ng-minlength="2" class="services-form-input" placeholder="Organization" /></div>
            <div class="col-xs-6"><input ng-model="contactDetails.Email" required ng-minlength="2" class="services-form-input" placeholder="E-Mail" /></div>
            <div class="col-xs-6"><input ng-model="contactDetails.Phone" required ng-minlength="2" class="services-form-input" placeholder="Phone" /></div>
            <input type="hidden" ng-model="contactDetails.Filename" />
            <input type="hidden" required ng-model="contactDetails.inputLanguage" />
            <input type="hidden" required ng-model="contactDetails.outputLanguage" />
            <button id="contactFormSubmitBtn" type="submit" class="form-submit"
                        ng-disabled="contactForm.$invalid || contactForm.$pristine || sendInProgress || fileUploadResponseData.status=='failed'"
                        ng-click="onFormSubmit(contactDetails, contactForm)">{{sendButtonText || 'SEND'}}</button>

            <p class="page-text"></p>
        </div>
        </form>
    </div>

</div>

