<div class="topsite">
    <div class="container">
        <h2 class="page-title">SERVICES</h2>
        <div class="center-box" style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>
    </div>
</div>
<div class="container">

    <div class="col-xs-5" style="margin-left:30px">
        <div class="service-title title-black">
            translation
        </div>
        <div class="round-photo">
            <img src="images/services_round_photo1.png"/>
        </div>
        <p class="page-text first">E</p>
        <p class="page-text">
            Type develops and implements solutions for digital recordings and the production of protocols, with audio.
        </p>
        <p class="page-text">
            These innovative solutions are unique to eType and allow for better transparency and use of textual protocols.
            eType specializes in developing advanced technologies for recording, transcription,
            translation and documentation and is based on many years of experience in providing these services to the highest quality.

        </p>
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-5" style="margin-left:100px;">
        <div class="service-title title-black">
            transcription
        </div>
        <div class="round-photo">
            <img src="images/services_round_photo2.png"/>
        </div>
        <p class="page-text first">E</p>
        <p class="page-text">
            Type develops and implements solutions for digital recordings and the production of protocols, with audio.
        </p>
        <p class="page-text">
            These innovative solutions are unique to eType and allow for better transparency and use of textual protocols.
            eType specializes in developing advanced technologies for recording, transcription,
            translation and documentation and is based on many years of experience in providing these services to the highest quality.

        </p>
    </div>
</div>
<div class="container" style="margin-bottom: 200px;">
    <div class="title-black upload-a-file">
        <img src="images/about_ornament1.png"/>
        upload a file
        <img src="images/about_ornament1.png"/><br/>
        <span class="recieve-offer">AND YOU'LL RECIEVE AN OFFER IN 24 HOURS</span>

        <div class="upload-a-file-fake" >
            <input type="file"  />
        </div>

            <div class="styled-select" style="margin-left: 20px">
                <select>
                    <option>Choose your language</option>
                </select>
            </div>

            <div class="styled-select">
                <select>
                    <option>Destination language</option>
                </select>
            </div>


        <div style="width: 665px; height: 120px; margin: 0 auto;">
        <div class="col-xs-6"><input type="text" class="services-form-input" placeholder="Your Name" /></div>
        <div class="col-xs-6"><input type="text" class="services-form-input" placeholder="Organization" /></div>
        <div class="col-xs-6"><input type="text" class="services-form-input" placeholder="Email" /></div>
        <div class="col-xs-6"><input type="text" class="services-form-input" placeholder="Phone" /></div>
        </div>


    </div>
    <div class="form-submit">
        SEND
    </div>
</div>


