<div  ng-controller="SolutionsCtrl">
<div class="topsite">
    <div class="container">
        <h2 class="page-title">SOLUTIONS</h2>
        <div class="center-box" style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>
    </div>
</div>
<div class="container" style="width: 470px; margin-top: 50px;">
    <p class="page-text first">e</p>
    <p class="page-text">
        Type develops and implements solutions for digital recordings and the production of protocols, with audio, video & text synchronization.
    </p>
</div>
<div class="container">
<div class="solutions-con">
    <a ng-click="navigateToSolution('eParliament')" class="hp_icon0"><span class="hp-icon hp-icon-0">eParliament</span>
        <img class="solution-btn" src="images/solutions_solution_btn1.png" /><br/>
        <p class="solution-desc-short">
            eParliament is the most advanced and comprehensive solution for the management and documentation of Houses of Representatives.
        </p>
        <div class="view-more" >VIEW MORE</div>
    </a>
    <a ng-click="navigateToSolution('eParliament')" class="hp_icon1"><span class="hp-icon hp-icon-1">eProduction</span>
        <img class="solution-btn" src="images/solutions_solution_btn1.png" /><br/>
        <p class="solution-desc-short">
            eProduction provides an innovative and efficient solution for media and production companies, that revolutionize the process of editing.
        </p>
        <div class="view-more" >VIEW MORE</div>
    </a>
    <a ng-click="navigateToSolution('eParliament')" class="hp_icon2"><span class="hp-icon hp-icon-2">eCorporate</span>
        <img class="solution-btn" src="images/solutions_solution_btn1.png" /><br/>
        <p class="solution-desc-short">
            eCorporate brings your business record keeping to the 21st century. No matter if you’re a small company or a global corporate.
        </p>
        <div class="view-more" >VIEW MORE</div>
    </a>
    <a ng-click="navigateToSolution('eParliament')" class="hp_icon3"><span class="hp-icon hp-icon-3">eLaw</span>
        <img class="solution-btn" src="images/solutions_solution_btn1.png" /><br/>
        <p class="solution-desc-short">
            eLaw is an advance comprehensive digital solution for Law, investigative and regulatory organizations, already in use by the  leading Israeli investigating agencies.
        </p>
        <div class="view-more" >VIEW MORE</div>
    </a>
    <a ng-click="navigateToSolution('eParliament')" class="hp_icon4"><span class="hp-icon hp-icon-4">eSchool</span>
        <img class="solution-btn" src="images/solutions_solution_btn1.png" /><br/>
        <p class="solution-desc-short">
            eSchool is the way for a digital institution, giving your students all the martial from class in audio, video in text everywhere, anytime.
        </p>
        <div class="view-more" >VIEW MORE</div>
    </a>
</div>
</div>
<div class="container">
    <div class="center-box">
        <img src="images/about_ornament2.png" />
    </div>
    <div class="center-box">
        <img src="images/about_bottom_banner.jpg" />
    </div>
    <div class="center-box">
        <img src="images/about_ornament2-10.png" />
    </div>
</div>
</div>