<div ng-controller="eProductionCtrl">
    <div class="element element2"></div>
<div class="topsite">
    <div class="container">
        <div class="center-box">
            <img src="images/solution_title_eproduction.png" />
        </div>
        <div class="center-box"  style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>

    </div>
</div>


<div class="container" style="width: 473px; margin-top: 50px; margin-bottom: 50px">

    <p class="page-text">
        <img src="images/initial_e.png" alt="ETYPE" style="float:left;margin:0"/>
        Production provides an innovative and efficient solution for media and production companies, that revolutionize the process of editing.
    </p>

    <p class="page-text" style="font-weight: bold">
        With eProduction you could do the same work you do today,
        more efficiently, more quickly, and way more efficiently with searchable videos. eProduction gives you:
    </p>

    <ul class="solutions-star-points" style="list-style-image: url(images/red_star.png)">
        <li>Access to a transcription of all recorded materials.</li>
        <li>A searchable video archive allowing you to skim through all video materials. Click on a word to jump to the corresponding recording or seek through your video to find the text</li>
        <li>Search and find video/audio by using a simple and advanced free language textual search.</li>
        <li>Cut and paste segments of text to export the corresponding video/audio material into workable clips, or cut the video with the text for automatic subtitles.</li>
        <li>Easily translatable video. Just translate the text segments and keep the synchronization intact.</li>
        <li>Available as both a multi-server solution for complexes and remote sites, and a standalone software solution, without a central server, and without exposure to outside parties or dependency on service providers.</li>
    </ul>
    And much more...
</div>
<div class="container">
    <div class="center-box solution-slogan">
        <img src="images/about_ornament1.png"/>
        Record, Type, Sync & Play
        <img src="images/about_ornament1.png"/>
    </div>
</div>
<div tab-select></div>

<div class="container">
    <div class="center-box">
        <img src="images/solutions_clients.png" />
    </div>
    <div class="center-box">
        <img src="images/about_ornament2.png" />
    </div>
    <div class="center-box">
        <a href="#/contactus"><img src="images/solutions_bottom_banner.png" /></a>
    </div>
    <div class="center-box">
        <a ng-click="reloadRoute()"><img src="images/about_ornament2-10.png" /></a>
    </div>
</div>
</div>
