<div ng-controller="eLawCtrl">
    <div class="element element4"></div>
<div class="topsite">
    <div class="container">
        <div class="center-box">
            <img src="images/solution_title_elaw.png" />
        </div>
        <div class="center-box"  style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>

    </div>
</div>


<div class="container" style="width: 473px; margin-top: 50px; margin-bottom: 50px">

    <p class="page-text">
        <img src="images/initial_e.png" alt="ETYPE" style="float:left;margin:0"/>
        Law is an advance comprehensive digital solution for Law, investigative and regulatory organizations,
        already in use by the leading Israeli investigating agencies.

    </p>

    <p class="page-text" style="font-weight: bold">
        Leave in your past  the process of manually searching through huge piles of pages and folders,
        of hours of seeking through video tapes. eLaw is a modular solution covering all aspects of investigation management:
    </p>

    <ul class="solutions-star-points" style="list-style-image: url(images/red_star.png)">
        <li>Design and equip digital investigation rooms.</li>
        <li>Digital Recording of all sessions.</li>
        <li>Easley create transcription and translation of your investigation recordings, while keeping synchronization of your digital recordings.</li>
        <li>Get an incorporated archive of all your textual files and audio\video recordings.
            Click a word in the text and jump directly to that moment in the video, or seek through the video to find that moment in the text.</li>
        <li>Search through your full investigative file, complete with all your digital recordings.</li>
        <li>Automatically find connections between related investigations with automatic semantic processing of the files.</li>
        <li>Mark an important segment while recording.</li>
        <li>Give real-time instruction whether to transcribe a specific segment.</li>
        <li>Mark an important segment while recording.</li>
        <li>Developed and honed by the experience of the leading investigative bodies in Israel, both in functionality and in the level of security.</li>
        <li>Available as both a multi-server solution for complexes and remote sites, and a standalone software solution, without a central server,
            and without exposure to outside parties or dependency on service providers.</li>
    </ul>
    And much more...
</div>
<div class="container">
    <div class="center-box solution-slogan">
        <img src="images/about_ornament1.png"/>
        Record, Type, Sync & Play
        <img src="images/about_ornament1.png"/>
    </div>
</div>
    <div tab-select></div>
<div class="container">
   <!-- <div class="center-box">
        <img src="images/solutions_clients.png" />
    </div>-->
    <div class="center-box">
        <img src="images/about_ornament2.png" />
    </div>
    <div class="center-box">
        <a href="#/contactus"><img src="images/solutions_bottom_banner.png" /></a>
    </div>
    <div class="center-box">
        <a ng-click="reloadRoute()"><img src="images/about_ornament2-10.png" /></a>
    </div>
</div>
</div>
