<div>
    <div class="element element5"></div>
<div class="topsite">
    <div class="container">
        <div class="center-box">
            <img src="images/solution_title.png" />
        </div>
        <div class="center-box"  style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>

    </div>
</div>


<div class="container" style="width: 473px; margin-top: 50px; margin-bottom: 50px">

    <p class="page-text">
        <img src="images/initial_e.png" alt="ETYPE" style="float:left;margin:0"/>
        School is the way for a digital institution , giving your students all the martial  from class in audio, video in text everywhere, anytime.

    </p>

    <p class="page-text" style="font-weight: bold">
        eSchool's comprehensive and modular solution covers all aspects of a digital classroom and digital studying, at school and away:
    </p>

    <ul class="solutions-star-points" style="list-style-image: url(images/red_star.png)">
        <li>Design and equip classrooms.</li>
        <li>Digital recording of all classes and lectures.</li>
        <li>Simply and quickly transcribe or translate all lecture material, while keeping a full synchronization with the audio and video.</li>
        <li>Create an incorporated archive containing all your audio\video and text archives. Click the text and find the corresponding video, seek the video and find the text.</li>
        <li>Search through the lectures, allowing your students to quickly find the exact point they are looking for. </li>
        <li>Available as both a multi-server solution for complexes and remote sites, and a standalone software solution,
            without a central server, and without exposure to outside parties or dependency on service providers.</li>
    </ul>
    And much more...
</div>
<div class="container">
    <div class="center-box solution-slogan">
        <img src="images/about_ornament1.png"/>
        Record, Type, Sync & Play
        <img src="images/about_ornament1.png"/>
    </div>
</div>
    <div tab-select></div>
<div class="container">
    <div class="center-box">
        <img src="images/solutions_clients.png" />
    </div>
    <div class="center-box">
        <img src="images/about_ornament2.png" />
    </div>
    <div class="center-box">
        <img src="images/solutions_bottom_banner.png" />
    </div>
    <div class="center-box">
        <img src="images/about_ornament2-10.png" />
    </div>
</div>
</div>
