<div ng-controller="eCorporateCtrl">
    <div class="element element3"></div>
<div class="topsite">
    <div class="container">
        <div class="center-box">
            <img src="images/solution_title_ecorporate.png" />
        </div>
        <div class="center-box"  style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>

    </div>
</div>


<div class="container" style="width: 473px; margin-top: 50px; margin-bottom: 50px">

    <p class="page-text">
        <img src="images/initial_e.png" alt="ETYPE" style="float:left;margin:0"/>
        Corporate brings your business record keeping to the 21st century.

    </p>

    <p class="page-text" style="font-weight: bold">
        No matter if you’re a small company or a global corporate,
        eCorporate is a modular solution that covers all aspects of boardroom documentation and data retrieval:
    </p>

    <ul class="solutions-star-points" style="list-style-image: url(images/red_star.png)">
        <li>Design and equip smart conference rooms and boardrooms.</li>
        <li>Digital Recording of all sessions and meetings.</li>
        <li>Easily and quickly transcribe or translate your meeting while synchronizing the text and the recording.</li>
        <li>Give real-time instruction whether to transcribe a specific segment.</li>
        <li>Get an incorporated archive of all your textual files and audio\video recordings.
            Click a word in the text and jump directly to that moment in the video, or seek through the video to find that moment in the text.</li>
        <li>Type your meeting minutes directly into eCorporate to make them searchable.</li>
        <li>Quickly find the right document searching through all your information, find related meeting with automatic semantic processing of your data. </li>
        <li>Integration with existing record keeping systems and corporate search systems.</li>
        <li>Developed and honed by the experience of the leading clients in Israel, both in functionality and in the level of security.</li>
        <li>Available as both a multi-server solution for complexes and remote sites, and a standalone software solution, without a central server,
            and without exposure to outside parties or dependency on service providers.</li>

    </ul>
    And much more...
</div>
<div class="container">
    <div class="center-box solution-slogan">
        <img src="images/about_ornament1.png"/>
        Record, Type, Sync & Play
        <img src="images/about_ornament1.png"/>
    </div>
</div>
<div tab-select></div>
<div class="container">
    <!--<div class="center-box">
        <img src="images/solutions_clients.png" />
    </div>-->
    <div class="center-box">
        <img src="images/about_ornament2.png" />
    </div>
    <div class="center-box">
        <a href="#/contactus"><img src="images/solutions_bottom_banner.png" /></a>
    </div>
    <div class="center-box">
        <a ng-click="reloadRoute()"><img src="images/about_ornament2-10.png" /></a>
    </div>
</div>
</div>
