<div ng-controller="eParliamentCtrl">
    <div class="element element1"></div>
<div class="topsite">
    <div class="container">
        <div class="center-box">
            <img src="images/solution_title.png" />
        </div>
        <div class="center-box"  style="padding-top: 0">
            <img src="images/about_ornament1.png" style="margin-bottom: -60px;" />
        </div>

    </div>
</div>


<div class="container" style="width: 473px; margin-top: 50px; margin-bottom: 50px">

    <p class="page-text">
        <img src="images/initial_e.png" alt="ETYPE" style="float:left;margin:0"/>
        Parliament is the most advanced and comprehensive solution for the management and documentation of Houses of Representatives.
        eParliament allows for an easy management of legislation and other parliamentary processes.
    </p>

    <p class="page-text" style="font-weight: bold">
        Each parliament could modularly adapt it's eParliament implementation to fit it's exact needs:
    </p>

    <ul class="solutions-star-points" style="list-style-image: url(images/red_star.png)">
        <li>Manage Bills through all stages until publication as Laws.</li>
        <li>Digital recording of all parliament sessions, house and committees alike.</li>
        <li>Transcription, translation and video synchronization of each digital recording.</li>
        <li>Incorporated extendable archive containing all relevant information (audio\video, transcriptions, translations, bills, etc)
            allowing law makers and other parliamentary workers an easy and efficient access to information.</li>
        <li>Public internet portal allowing the public and the press direct access to parliamentary records and information.</li>
    </ul>
    And much more...
</div>
<div class="container">
    <div class="center-box solution-slogan">
        <img src="images/about_ornament1.png"/>
        Record, Type, Sync & Play
        <img src="images/about_ornament1.png"/>
    </div>
</div>
    <div tab-select></div>
<div class="container">
    <!--<div class="center-box">
        <img src="images/solutions_clients.png" />
    </div>-->
    <div class="center-box">
        <img src="images/about_ornament2.png" />
    </div>
    <div class="center-box">
        <a href="#/contactus"><img src="images/solutions_bottom_banner.png" /></a>
    </div>
    <div class="center-box">
        <a ng-click="reloadRoute()"><img src="images/about_ornament2-10.png" /></a>
    </div>
</div>
</div>
