/*============= FONTS ==================*/
/*============= COLORS ==================*/
/*============= LAYOUT ==================*/
.container { width: 980px; padding: 0; }

/*============= DEFAULTS ================*/
html, body { overflow-x: hidden; }

h2 { text-align: center; }

/*============= MIXINS ==================*/
/*============= HELPERS ==================*/
.push-right { margin-right: -30px; }

.push-left { margin-left: -15px; }

.black { color: #000000; }
.black:hover { color: #000000; }

.orange { color: #f6b42c; }
.orange:hover { color: #f6b42c; }

.app-main { min-height: 700px; }

.center-box { padding: 25px; text-align: center; }

.text-link { text-decoration: none; cursor: pointer; }
.text-link:hover { text-decoration: underline; }

.menu-link { -webkit-transition: color 0.2s ease-out; -moz-transition: color 0.2s ease-out; -o-transition: color 0.2s ease-out; transition: color 0.2s ease-out; }

.page-title { font: 99px "ChunkFive"; color: #f6b42c; text-align: center; }

p.page-text { text-align: justify; font: 16px "MuseoSlab"; color: #50616c; }

p.page-text.first:first-letter { font-size: 5em; font-weight: bold; float: left; }

p.page-text-small { font-size: 14px; }

div.title-black { text-align: center; font: 41px "ChunkFive"; }

button.form-submit { color: #ea5e55; font: 14px "MuseoSlab"; border-top: thin solid #ea5e55; border-bottom: thin solid #ea5e55; width: 140px; text-align: center; margin-right: auto; margin-left: auto; padding: 5px; cursor: pointer; background-color: transparent; border-left: none; border-right: none; outline: none; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out; -o-transition: all 0.15s ease-out; transition: all 0.15s ease-out; }
button.form-submit:hover { color: #f6b42c; border-color: #f6b42c; }
button.form-submit[disabled] { color: #cccccc; border-top: thin solid #cccccc; border-bottom: thin solid #cccccc; cursor: default; }

@font-face { font-family: "ChunkFive"; src: url('fonts/chunkfive-webfont.eot') format('embedded-opentype'), url('fonts/chunkfive-webfont.svg') format('svg'), url('fonts/chunkfive-webfont.ttf') format('truetype'), url('fonts/chunkfive-webfont.woff') format('woff'); }

@font-face { font-family: "Lobster"; src: url('fonts/lobster_1.3-webfont.eot') format('embedded-opentype'), url('fonts/lobster_1.3-webfont.svg') format('svg'), url('fonts/lobster_1.3-webfont.ttf') format('truetype'), url('fonts/lobster_1.3-webfont.woff') format('woff'); }
